<style>
    .layui-upload-img{width: 360px; height: 80px;}
</style>
<!--<div class="layui-upload">-->
<!--<button type="button" class="layui-btn" id="test1">上传图片</button>-->
<!--<div class="layui-upload-list">-->
<!--<img class="layui-upload-img" id="demo1">-->
<!--<p id="demoText"></p>-->
<!--</div>-->
<!--</div>-->
<!--
<div id="uploader" class="wu-example">
    &lt;!&ndash;用来存放文件信息&ndash;&gt;
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default">开始上传</button>
    </div>
</div>-->
{block name="include"}
{include file="/public/webuploader" /}
{/block}
<script type="text/javascript" src="{$Think.__ADMIN_LAYER__}/js/Web_Uploader_File.js"></script>
<div id="uploader" class="wu-example" style="padding:15px 0px 0px 30px ">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <div id="list" class="upload-box clearfix"></div>
    </div>
</div>
<script>
    var swfUrl =  " {$Think.__ADMIN_WEBUPLOADE__}/js/Uploader.swf";
</script>