<link rel="stylesheet" href="{$Think.__ADMIN_LAYER__}/layui/css/layui.css" media="all" />
<script type="text/javascript" src="{$Think.__ADMIN_LAYER__}/layui/layui.js"></script>
<script type="text/javascript" src="{$Think.__ADMIN_LAYER__}/js/public.js"></script>
<script type="text/javascript" src="{$Think.__ADMIN_LAYER__}/js/jq1.9.js"></script>
<script type="text/javascript" src="{$Think.__ADMIN_LAYER__}/js/List.js"></script>
<link rel="stylesheet" href="{$Think.__ADMIN_LAYER__}/css/List.css" media="all" />

